<ion-content class="ion-content">

  <ion-header class="ion-no-border">
    <ion-toolbar>

      <ion-title>My Jobs</ion-title>
      <ion-buttons slot="end">
        <ion-icon name="notifications-outline" class="notification_icon" (click)="notifications()"></ion-icon>


      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="half_bg">

  <!-- <div class="gray-bg"> -->



    <div class="personal-info-text"></div>

    <div class="myjob tt">

    <div class="myjob">

      <ion-row>
        <ion-col style="    border-right: 1px solid #57C7B6;
        line-height: 10px;">
          <div class ="total-jobs">
            <div class="icon_sets">
              <p class="title_sets-job">Total Jobs</p>
               <p class="title_sets-totaljob">06</p>
               
             </div>
    
          </div>
        </ion-col>
        <ion-col>
        <div class ="total-hours">
          <div class="icon_sets">
            <p class="title_sets-job">Total Hours of work</p>
             <p class="title_sets-totaljob">40 hrs</p>
             
           </div>
          
        </div>
      </ion-col>
      </ion-row>


      <!-- <ion-row >
        <ion-col > -->
          <div class="work-record">

            <!-- <ion-row> -->
              <div  class="work_2" style="text-align: center;">
                <div class="line1"></div>
                <div class="line2"></div>
                <h1 class="work-text">Work Record
                </h1>
        
                <!-- <div class="extra_for_border"></div> -->
              </div>
            <!-- </ion-row> -->
     
              </div>
        <!-- </ion-col>
      </ion-row> -->



      <div  class="work_2__" >

        <div class="line3">

        </div>
        <div class="line4">
          
        </div>
      </div>
      


          <div class="btns_inline">
            <button class="select_btn">
              All
            </button>
            <button class="Un_select_btn">
              Upcoming
            </button>
            <button class="Un_select_btn">
              Saved
            </button>
            <button class="Un_select_btn">
              Completed
            </button>
          </div>

    </div>
  </div>

 




      <div class="category_box" (click)="goToJobDetail()">
        <p class="title_">Receiptionist</p>
       <ion-row>
         <ion-col >
           
          <div class="icon_sets">
            <ion-icon name="location-outline" class="icon_set" color="primary"></ion-icon>
            <p class="title_sets">Phase V,Nodia(2.6 km)</p>
            
          </div>
          <div class="icon_sets">
            <ion-icon name="calendar-outline" class="icon_set" color="primary"></ion-icon>
             <p class="title_sets">01 April 2020</p>
             
           </div>
           <div class="icon_sets">
            <ion-icon name="timer-outline" class="icon_set" color="primary"></ion-icon>
             <p class="title_sets">4 / 7 Days</p>
             
           </div>

          </ion-col>
          <ion-col>
           <div class="icon_set_right">
             <p class="label__">Completed</p>
            <p class="price">
              $ 100/Hr
            </p>
            <p class="totalHrs__">Total Hours: 15hrs </p>

            <div class="align_reviews">
              <p class="point_rate">4.0</p>
              <ion-icon name="star-outline" class="star-Icon" style="font-size: 19px;"></ion-icon>
              <ion-icon name="star-outline" class="star-Icon" style="font-size: 19px;" ></ion-icon>
              <ion-icon name="star-outline" class="star-Icon" style="font-size: 19px;"></ion-icon>
              <ion-icon name="star-outline" class="star-Icon" style="font-size: 19px;"></ion-icon>
              <ion-icon name="star-outline" class="star-Icon" style="font-size: 19px;"></ion-icon>
       
            </div>

           </div>
          </ion-col>
        </ion-row>
      
      </div>
      
 


<!-- ====copy -->
    

<div class="category_box" (click)="goToJobDetail()">
  <p class="title_">Receiptionist</p>
 <ion-row>
   <ion-col >
     
    <div class="icon_sets">
      <ion-icon name="location-outline" class="icon_set" color="primary"></ion-icon>
      <p class="title_sets">Phase V,Nodia(2.6 km)</p>
      
    </div>
    <div class="icon_sets">
      <ion-icon name="calendar-outline" class="icon_set" color="primary"></ion-icon>
       <p class="title_sets">01 April 2020</p>
       
     </div>
     <div class="icon_sets">
      <ion-icon name="timer-outline" class="icon_set" color="primary"></ion-icon>
       <p class="title_sets">09:00 AM-05:00 PM</p>
       
     </div>

    </ion-col>
    <ion-col>
     <div class="icon_set_right">
       <p class="label__">Completed</p>
      <p class="price">
        $ 100/Hr
      </p>
      <p class="totalHrs__">Total Hours: 15hrs </p>

      <div class="align_reviews">
        <p class="point_rate">4.0</p>
        <ion-icon name="star-outline" class="star-Icon" style="font-size: 19px;"></ion-icon>
        <ion-icon name="star-outline" class="star-Icon" style="font-size: 19px;" ></ion-icon>
        <ion-icon name="star-outline" class="star-Icon" style="font-size: 19px;"></ion-icon>
        <ion-icon name="star-outline" class="star-Icon" style="font-size: 19px;"></ion-icon>
        <ion-icon name="star-outline" class="star-Icon" style="font-size: 19px;"></ion-icon>
 
      </div>

     </div>
    </ion-col>
  </ion-row>

</div>


<!-- === -->
    </div>



</ion-content>