<ion-content class="ion-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start" (click)="goBack()">
        <ion-icon name="arrow-back" class="top_icon"></ion-icon>
      </ion-buttons>
      <ion-title>App Promotions</ion-title>
      <ion-buttons slot="end">
        <ion-icon name="notifications-outline" class="notification_icon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
 
  </ion-header>

  <!-- <div class="half_bg"> -->
  
    <div class="gray-bg">

      <button (click)="setHourly()">
        Set Hourly UX
      </button>
      <button (click)="myJobs()">
        My Jobs
      </button>
  <div class="info-card">
 
  <div class="basic_detail">

     <div class="icon_sets">
       <ion-icon name="location-outline" class="icon_set" color="primary"></ion-icon>
       <p class="title_sets">Phase V,Nodia(2.6 km)</p>
       
     </div>
     <div class="icon_sets">
       <ion-icon name="calendar-outline" class="icon_set" color="primary"></ion-icon>
        <p class="title_sets">01 April 2020</p>
        
      </div>
      <div class="icon_sets">
       <ion-icon name="timer-outline" class="icon_set" color="primary"></ion-icon>
        <p class="title_sets">09:00 AM-05:00 PM</p>
        
      </div>

      <div class="icon_sets sets">
       <p class="label_">Category</p>
         <p class="title_sets_">Nursing</p>
         
       </div>

       <div class="icon_sets sets">
        <p class="label_">Base Pay</p>
          <p class="title_sets_">200 / 2hrs</p>
          
        </div>

        
      <div class="wage_bar">
        <p class="price">
          $ 100/Hr
        </p>
        <p class="text_pay">Total Pay</p>
        <p class="price">
          $ 800
        </p>
      </div>
  </div>


  <div class="Job_description">
    <p class="text_title" color="primary">Jobs Description</p>

    <p class="text_description">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
    </p>
  </div>

  <div class="Job_description">
    <p class="text_title" color="primary">Tasks to be Performed</p>

   <ul>
     <li>
      Sed ut perspiciatis unde 
     </li>
     <li>
      omnis iste natus error
     </li>
     <li>
      perspiciatis
     </li>
    
   </ul>
  </div>

  <div class="Job_description">
    <p class="text_title" color="primary">Dress Code</p>

 <ion-row>
   <ion-col>
     <div class="male">
      <ion-icon name="male-outline" class="icon_"></ion-icon>
      <ul>
        <li>
          perspiciatis
         </li>
         <li>
          omnis
         </li>
         <li>
          perspiciatis
         </li>
      </ul>
     </div>
 
   </ion-col>

   <ion-col>
    <div class="female">
      <ion-icon name="female-outline" class="icon_"></ion-icon>
      <ul>
        <li>
          perspiciatis
         </li>
         <li>
          omnis
         </li>
         <li>
          perspiciatis
         </li>
      </ul>
    
    </div>
 
   </ion-col>

 </ion-row>

    </div>


  <div class="Job_description">
    <p class="text_title" color="primary">Prerequistic</p>

    <ul>
      <li>
        perspiciatis
       </li>
       <li>
        omnis
       </li>
       <li>
        perspiciatis
       </li>
    </ul>
    </div>

    <div class="Job_description">
      <p class="text_title" color="primary">Briefing</p>
  
      <p class="text_description">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
      </p>
    </div>
    
    
      </div>


      <div class="info-card">
 
   <p class="text__">Receptionist</p>

   <ion-row>
     <ion-col>
      <div class="icon_sets last">
        <ion-icon name="location-outline" class="icon_set" color="primary"></ion-icon>
        <p class="title_sets">Phase V,Nodia(2.6 km)</p>
        
      </div>
      <div class="icon_sets last">
        <ion-icon name="calendar-outline" class="icon_set" color="primary"></ion-icon>
         <p class="title_sets">01 April 2020</p>
         
       </div>
     </ion-col>
     <ion-col style="text-align: center;">
      <p class="text_price">$ 1500</p>
      <p class="text_date">09:00 AM-05:00 PM</p>
     </ion-col>
   </ion-row>
      
     
        

            </div>

      
    </div>
  <!-- </div> -->
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row style="text-align: center;">
      <ion-col>
        <button color="primary" class="btn_footer">
          <ion-icon name="heart-outline"></ion-icon>
          Save for Later
        </button>
      </ion-col>
      <ion-col>
        <button color="primary" class="btn_footer">
         Apply Now
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>