<ion-content class="ion-padding">
  <div class="img-holder ion-text-left">
    <img src="assets/imgs/icn-phone.svg" alt="">
  </div>
  <div class="title">
    <h2>Mobile Verification</h2>
    <p class="ion-text-wrap">
      We have sent you an access code via SMS for Mobile number ****{{lastdigit}}
    </p>
  </div>

  <div class="otp-holder">
    <p>Enter Code here</p>
    <div>
      <ion-grid>
        <ion-row align-items-center justify-content-center>
          <ion-col size="2" class="ion-text-center">
            <ion-input type="number" #otp1 class="otp" maxlength="1" (keyup)="otpController($event,otp2,'')">
            </ion-input>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-input type="number" #otp2 class="otp" maxlength="1" size="1" (keyup)="otpController($event,otp3,otp1)">
            </ion-input>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-input type="number" #otp3 class="otp" pattern="[0-9]" (keyup)="otpController($event,otp4,otp2)">
            </ion-input>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-input type="number" #otp4 class="otp" pattern="[0-9]" maxlength="1" size="1"
              (keyup)="otpController($event,otp5,otp3)">
            </ion-input>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-input type="number" #otp5 class="otp" pattern="[0-9]" maxlength="1" size="1"
              (keyup)="otpController($event,otp6,otp4)">
            </ion-input>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-input type="number" #otp6 class="otp" pattern="[0-9]" maxlength="1" size="1"
              (keyup)="otpController($event,'',otp5)">
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="btn-holder">
      <ion-button expand="block" shape="round" (click)="submitOTP()">
        CONFIRM
      </ion-button>
    </div>

    <div class="bottom-text ion-text-center">
      <h5 class="ion-text-wrap">
        If you didn’t receive a code ! <span (click)=" goVerify()">Resend</span>
      </h5>
    </div>
  </div>

</ion-content>
