<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="arrow-back" class="top_icon"></ion-icon>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications-outline" class="notification_icon" ></ion-icon>


    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">


  <div class="notification_container">
    <div class="notificationActivity1">
      <div class="ActiveNoti">

        <!-- <div class="indicator"></div> -->
      <p class="activity_time">
      4 m
    </p>
  </div>

      <p class="text_">Client left 5 stars review on Nursing Job</p>
    
 
    </div>

    <div class="notificationActivity1">
      <div class="ActiveNoti">

     
      <p class="activity_time">
      4 m
    </p>
  </div>

      <p class="text_">Your Job starts Soon.</p>
   

      <button class="btn-accept">
        Yes I am going
      </button>
      <button class="btn-deny">
    No I can't
      </button>

    
    </div>
  </div>


</ion-content>